.toggle-button {
  display: flex;
  flex-direction: column;
  height: 15px;
  width: 23px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  justify-content: space-around;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__elements {
  width: 23px;
  background: white;
  height: 2px;
}

@media (min-width: 769px) {
  .toggle-button {
    display: none;
  }
}
